# Port server
PORT=3000

# Base URL Kuramanime (default: https://v19.kuramanime.ing)
KUMA_BASE_URL=https://v19.kuramanime.ing

# Proxy HTTP — WAJIB kalau kena Cloudflare 403.
# Contoh: http://user:pass@host:port
# Di rumah (WireGuard): http://172.20.20.102:8888
KUMA_PROXY=
